 <div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #userform="ngForm" (ngSubmit)="addUser(userform)">
                        <input type="hidden" name="_id" #_id="ngModel" [(ngModel)] ="userService.selectedUser._id">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="text" name="name" #name="ngModel" [(ngModel)]
                            ="userService.selectedUser.name" placeholder="Enter your Name">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="surname" #surname="ngModel" [(ngModel)]
                            ="userService.selectedUser.surname" placeholder="Enter your Surname">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="dni" #dni="ngModel" [(ngModel)]
                            ="userService.selectedUser.dni" placeholder="Enter your DNI">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="email" #email="ngModel" [(ngModel)]
                            ="userService.selectedUser.email" placeholder="Enter your Email">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="tlf" #tlf="ngModel" [(ngModel)]
                            ="userService.selectedUser.tlf" placeholder="Enter your Phone">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="transport" #transport="ngModel" [(ngModel)]
                            ="userService.selectedUser.transport" placeholder="Enter your Transport">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="discharge_date" #discharge_date="ngModel" [(ngModel)]
                            ="userService.selectedUser.discharge_date" placeholder="Enter your Discharge Date">
                        </div>
                        <div class="card-action">
                            <div class="input-field col s12">
                                <button class="btn" (click)="resetForm(userform)">Clean</button>
                                <button class="btn right">Save</button>
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>Name</th>
                    <th>Surname</th>
                    <th>DNI</th>
                    <th>Email</th>
                    <th>Phone</th>
                    <th>Transport</th>
                    <th>Date</th>
                    <th>Operations</th>
                </thead>
                <tbody>
                    <tr *ngFor="let user of userService.user">
                        <td>{{user.name}}</td>
                        <td>{{user.surname}}</td>
                        <td>{{user.dni}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.tlf}}</td>
                        <td>{{user.transport}}</td>
                        <td>{{user.discharge_date}}</td>
                        <td>
                            <a (click)="editUsers(user)">
                                <i class="material-icons">edit</i>
                            </a>
                        </td>
                        <td>
                        <a (click)="deleteUsers(user,_id)">
                            <i class="material-icons">delete</i>
                        </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<h1>users works!</h1> 
